@import url("https://fonts.googleapis.com/css?family=Lato|Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #efedd6;
  font-family: "Lato", sans-serif;
  height: 100vh;
}
h1 {
  text-align: center;
}
